body,
textarea,
select,
input,
button {
  font-size: 12px;
  color: #333;
  font-family: quote, "PingFang SC", "Microsoft Yahei", "Helvetica Neue", "Helvetica", "STHeitiSC-Light", "Arial", "simsun", sans-serif;
}

.shop_top {
  height: 73px;
  background: #fff;
}

.shop_top .shop_top_center {
  width: 1100px;
  height: 100%;
  margin: 0 auto;
}

.shop_top .shop_top_center .shop_top_center_logo {
  width: 290px;
  height: 70px;
  float: left;
}

.shop_top .shop_top_center .shop_top_center_logo a {
  display: inline-block;
  width: 100%;
  height: 100%;
  background: url(../img/shop_img/modules.png) no-repeat 0px -48px;

}

.shop_top .shop_top_center .shop_top_center_search {
  float: left;
  width: 300px;
  height: 70px;
  margin-left: 334px;
}

.shop_top .shop_top_center .shop_top_center_search form {
  width: 100%;
  height: 38px;
  margin-top: 16px;
  background: url(../img/shop_img/modules.png)no-repeat 0px -0px;
}

.shop_top .shop_top_center .shop_top_center_search form input {
  width: 80%;
  height: 16px;
  line-height: 16px;
  margin: 11px 0 0 34px;
  border: none;
  outline: none;
  padding: 0;
  background: transparent;
}

.shop_top .shop_top_center .shop_top_center_search .suggest {
  position: absolute;
  z-index: 999;
  top: 56px;
  width: 300px;
  height: auto;
  display: none;
  background-color: #fff;
  box-shadow: 0 4px 7px #555;
  text-shadow: 0 1px 0 rgb(255 255 255 / 90%);
  padding-bottom: 10px;
}

.shop_top .shop_top_center .shop_top_center_search .suggest li {
  height: 34px;
  line-height: 34px;
  padding-left: 20px;
  font-size: 14px;
  color: #888888;
}

.shop_top .shop_top_center .shop_top_center_search .suggest li:nth-child(1) {
  border-bottom: 1px solid #E5E5E5;
  font-weight: 600;
  font-size: 12px;
  color: #000;
}

.shop_top .shop_top_center .shop_top_center_search .suggest li:hover {
  background-color: #F5F5F5;

}

.shop_top .shop_top_center .shop_top_center_search .suggest li:nth-child(1):hover {
  background-color: #fff;
}

.shop_top .shop_top_center .shop_top_center_shopcart {
  float: left;
  width: 36px;
  height: 36px;
  margin: 17px 0 0 41px;
  position: relative;
}

.shop_top .shop_top_center .shop_top_center_shopcart a {
  display: inline-block;
  width: 36px;
  height: 36px;
  cursor: pointer;
  background: url(../img/shop_img/modules.png)no-repeat -110px -158px;
}

.shop_top .shop_top_center .shop_top_center_shopcart span {
  position: absolute;
  top: -8px;
  left: 26px;
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  color: #fff;
  background: url(../img/shop_img/modules.png)no-repeat -156px -158px;
}

.shop_top .shop_top_center .shop_top_center_user {
  width: 62px;
  height: 36px;
  margin: 15px 0 0 37px;
  background: url(../img/shop_img/arrow-d.png) no-repeat 110% center;
  float: left;
}

.shop_top .shop_top_center .shop_top_center_user .login {
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  font-size: 14px;
  margin-top: 1px;
  position: relative;
}

.shop_banner {
  width: 100%;
  height: 480px;
  overflow: hidden;
  position: relative;
}

// .shop_banner li {
//   width: 100%;
//   height: 100%;
//   position: absolute;
// }
/*
.shop_banner li:nth-child(1) {
  background: url(../img/shop_img/banner_bg_1.jpg)repeat-x;
  background-size: cover;
}

.shop_banner li:nth-child(2) {
  background: url(../img/shop_img/banner_bg_2.jpg)repeat-x;
  background-size: cover;
}

.shop_banner li:nth-child(3) {
  background: url(../img/shop_img/banner_bg_3.jpg)repeat-x;
  background-size: cover;
}

.shop_banner li:nth-child(4) {
  background: url(../img/shop_img/banner_bg_4.jpg)repeat-x;
  background-size: cover;
}

.shop_banner li:nth-child(5) {
  background: url(../img/shop_img/banner_bg_5.jpg)repeat-x;
  background-size: cover;
}

.shop_banner li:nth-child(6) {
  background: url(../img/shop_img/banner_bg_6.jpg)repeat-x;
  background-size: cover;
}
*/
.shop_banner .shop_banner_list li a {
  display: block;
  width: 1100px;
  height: 480px;
  margin: 0 auto;
}

.shop_banner .shop_banner_list li a img {
  width: 100%;
  height: 100%;
}

.shop_banner .shop_banner_dots {
  position: absolute;
  width: 100%;
  z-index: 99;
  bottom: 30px;
  text-align: center;
}

.shop_banner .shop_banner_dots a {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 3px;
  background: url(../img/shop_img/dot.png) no-repeat;
  cursor: pointer;
}

// .shop_banner .shop_banner_change {
//   position: relative;
// }

.shop_banner .shop_banner_change a {
  position: absolute;
  top: 209px;
  z-index: 1;
  width: 37px;
  height: 63px;
  display: block;
  background-color: #000;
  filter: alpha(opacity=10);
  -moz-opacity: 0.1;
  opacity: 0.1;
}

.shop_banner .shop_banner_change a i {
  width: 100%;
  height: 100%;
  display: block;
  background: url(../img/shop_img/pointlist.png)no-repeat;
}

.shop_banner .shop_banner_change a:nth-child(1) {
  left: 12px;
}

.shop_banner .shop_banner_change a:nth-child(2) {
  right: 12px;
}

.shop_banner .shop_banner_change a:nth-child(1) i {
  background-position: 0 0;
}

.shop_banner .shop_banner_change a:nth-child(2) i {
  background-position: -48px 0;
}

.shop_tab {
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.shop_tab .shop_tab_center {
  width: 1100px;
  margin: 0 auto;
}

.shop_tab .shop_tab_center ul li {
  float: left;
  width: 275px;
  height: 80px;
  overflow: hidden;
}

.shop_tab .shop_tab_center ul li a {
  float: left;
  width: 250px;
  padding: 0 10px;
  height: 80px;
  text-align: center;
  font-size: 0;
}

.shop_tab .shop_tab_center ul li img {
  display: inline-block;
  width: 48px;
  height: 48px;
  vertical-align: top;
  margin-top: 16px;
}

.shop_tab .shop_tab_center ul li span {
  display: inline-block;
  max-width: 190px;
  height: 80px;
  padding-left: 12px;
  line-height: 80px;
  font-size: 14px;
  font-weight: bold;
  color: #333333;
}

.shop_tab .shop_tab_center ul li:last-child .yunbei_left {
  display: inline-block;
  width: 48px;
  height: 48px;
  margin-top: 15px;
  background: url(../img/shop_img/jifen.png)no-repeat;
}

.shop_tab .shop_tab_center ul li:last-child .yunbei_right {
  display: inline-block;
  height: 80px;
  padding-left: 8px;
  vertical-align: top;
}

.shop_tab .shop_tab_center ul li:last-child .yunbei_right .yunbei_mart {
  padding-top: 20px;
  font-size: 14px;
  font-weight: bold;
  color: #333333;
}

.shop_tab .shop_tab_center ul li:last-child .yunbei_right b {
  display: inline-block;
  font-weight: normal;
  font-size: 14px;
  color: #d33a31;
  font-family: quote, "PingFang SC", "Microsoft Yahei", "Helvetica Neue", "Helvetica", "STHeitiSC-Light", "Arial", "simsun", sans-serif;
}

.shop_tab .shop_tab_center ul li:last-child .yunbei_right p {
  display: inline-block;
  padding: 2px 0 0 4px;
  font-size: 12px;
  color: #d33a31;
}

.shop_tab .shop_tab_center ul li em {
  display: inline-block;
  height: 48px;
  width: 1px;
  margin: 16px 0 16px 0;
  background-color: #000000;
  opacity: 0.1;
}

.shop_main {
  width: 1100px;
  margin: 0 auto;
  overflow: hidden;
}

.shop_main .shop_main_subj {
  width: 100%;
  margin-top: 40px;
  overflow: hidden;
}

.shop_main .shop_main_subj a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.shop_main .shop_main_subj .shop_main_subj_left {
  padding-right: 16px;
  float: left;
  width: 558px;
  height: 300px;
}

.shop_main .shop_main_subj .shop_main_subj_right {
  float: left;
  width: 542px;
  height: 300px;
}

.shop_main_list {
  margin-top: 50px;
  overflow: hidden;
}

.shop_main_list p {
  font-weight: bold;
  font-size: 24px;
  color: #333;
}

.shop_main_list .shop_main_all {
  margin-top: 20px;
  width: 100%;
  height: auto;
}

// .shop_main_list .shop_main_all ul {
// display: flex;
// justify-content: space-between;
// flex-wrap: wrap;
// }

.shop_main_list .shop_main_all ul li {
  float: left;
  position: relative;
  width: 263px;
  height: 382px;
  margin-right: 16px;
}

.shop_main_list .shop_main_all ul li:nth-child(4n) {
  margin-right: 0;
}

// .shop_main_list .shop_main_all ul li:nth-child(4),
// .shop_main_list .shop_main_all ul li:nth-child(8) {
//   margin-right: 0;
// }

.shop_main_list .shop_main_all ul li .obj_img {
  display: inline-block;
  width: 263px;
  height: 263px;
  background-color: #f9f9f9;
  cursor: pointer;
  position: relative;
}

.shop_main_list .shop_main_all ul li .obj_img img {
  width: 263px;
  height: 263px;
}

.shop_main_list .shop_main_all ul li .obj_img .obj_sale {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 10px;
  left: 10px;
  background-color: #d33a31;
  border-radius: 50%;
  color: #fff;
}

.shop_main_list .shop_main_all ul li .obj_img .obj_sale span:nth-child(1) {
  position: absolute;
  top: 12px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 15px;
}

.shop_main_list .shop_main_all ul li .obj_img .obj_sale span:nth-child(2) {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 13px;
  opacity: 0.7;
  text-decoration: line-through;
}

.shop_main_list .shop_main_all ul li .obj_info {
  text-align: center;
  margin-top: 10px;
}

.shop_main_list .shop_main_all ul li .obj_info h3 {
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  padding: 0;
  margin: 0;
  text-align: center;
}

.shop_main_list .shop_main_all ul li .obj_info h3 span {
  box-sizing: border-box;
  border: 1px solid #d74d45;
  overflow: hidden;
  box-sizing: border-box;
  line-height: 19px;
  border-radius: 1px;
  color: #d74d45;
  font-size: 12px;
  padding: 0 3px;
}


.shop_main_list .shop_main_all ul li .obj_info h3 span em {
  font-style: normal;
  text-align: left;
  font-size: inherit;
  font-weight: normal;
  line-height: 19px;
}

.shop_main_list .shop_main_all ul li .obj_info h3 a {
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: #333;
}

.shop_main_list .shop_main_all ul li .obj_info p {
  font-size: 16px;
  color: #d33a31;
  padding-top: 4px;
}

.shop_main_demo {
  width: 100%;
  height: 180px;
  background-color: #f9f9f9;
  cursor: pointer;
  position: relative;
}

.shop_main_demo .shop_main_left {
  width: 700px;
  height: 180px;
  margin: 0 20px 0 60px;
}

.shop_main_demo .shop_main_left span {
  display: block;
  padding-top: 28px;
  font-size: 32px;
  font-weight: bold;
  color: #000000;
}

.shop_main_demo .shop_main_left span i {
  float: left;
  margin-right: 10px;
  margin-top: 5px;
  width: 32px;
  height: 32px;
  background: url(../img/shop_img/digitalicon.png) no-repeat;
}

.shop_main_demo .shop_main_left p {
  margin-top: 9px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
}

.shop_main_demo .shop_main_left a {
  display: block;
  margin-top: 18px;
  font-size: 24px;
  font-weight: bold;
  color: #000000;
}

.shop_main_demo .shop_main_right {
  top: 30px;
  right: 50px;
  width: 210px;
  height: 120px;
  position: absolute;
}

.shop_main_demo .shop_main_right img:nth-child(1) {
  position: absolute;
  top: 15px;
  left: 0;
  width: 100px;
  height: 100px;
}

.shop_main_demo .shop_main_right img:nth-child(2) {
  position: absolute;
  top: 0;
  z-index: 99;
  left: 60px;
  width: 120px;
  height: 120px;
}

.shop_main_demo .shop_main_right i {
  position: absolute;
  top: 0;
  left: 175px;
  width: 35px;
  height: 120px;
  border: none;
  background: url(../img/shop_img/pointlist.png)no-repeat 0px -73px;
}

.shop_footer {
  height: 160px;
  background: #f2f2f2;
}

.shop_footer .shop_footer_center {
  overflow: hidden;
  width: 1100px;
  height: 100%;
  margin: 0 auto;
}

.shop_footer .shop_footer_left {
  float: left;
  width: 700px;
  height: 100%;
  padding-top: 22px;
  line-height: 24px;
  color: #666;
}

.shop_footer .shop_footer_left p:nth-child(1) a {
  color: #999;
}

.shop_footer .shop_footer_left p:nth-child(1) .line {
  margin: 0 8px 0 10px;
  color: #c2c2c2;
}

.shop_footer .shop_footer_left p:nth-child(2) span:nth-child(1),
.shop_footer .shop_footer_left p:nth-child(3) span:nth-child(1),
.shop_footer .shop_footer_left p:nth-child(4) span:nth-child(4),
.shop_footer .shop_footer_left p:nth-child(5) span:nth-child(1) {
  margin-right: 14px;
}

.shop_footer .shop_footer_right {
  width: 330px;
  height: 100%;
  margin-top: 30px;
  float: right;
}

.shop_footer .shop_footer_right li {
  float: left;
  width: 60px;
  height: 70px;
  margin-left: 30px;
  background: url(../img/shop_img/foot_enter.png) no-repeat;
}

.shop_footer .shop_footer_right li:nth-child(1) {
  margin-left: 0;
  background-position: -60px -80px;
}

.shop_footer .shop_footer_right li:nth-child(2) {
  background-position: 0 -80px;
}

.shop_footer .shop_footer_right li:nth-child(3) {
  background-position: 0 0;
}

.shop_footer .shop_footer_right li:nth-child(4) {
  background-position: -60px 0;
}