.cart_main {
  flex: 1;
  width: 1100px;
  min-height: 500px;
  margin: 0 auto;
  background: #fff;
}

.cart_main .main_top {
  font-size: 18px;
  border-bottom: 1px solid #333;
  font-weight: 600;
  padding: 30px 0 19px 0;
  /* min-height: 30px; */
}

.cart_main .cart_topnav {
  width: 100%;
  height: 66px;
  font-size: 14px;
  line-height: 68px;
}

.cart_main .cart_nav_check {
  font-size: 14px;
  float: left;
}

.cart_main .cart_nav_check input {
  height: 20px;
  width: 20px;
  vertical-align: -5px;
  margin: 0 20px 0;
}

.cart_main .cart_topnav .cart_nav_check i {
  display: block;
  width: 20px;
  height: 20px;
  margin: 23px 20px 0;
  background: url(../img/shopcart_img/cart.png)no-repeat -54px -36px;
}

.cart_main .cart_nav_all {
  width: 100px;
  float: left;
}

.cart_main .cart_topnav .cart_nav_list {
  width: 404px;
  float: left;
  color: #999;
}

.cart_main .cart_topnav .cart_nav_price {
  width: 116px;
  color: #999;
  float: left;
  text-align: center;
}

.cart_main .cart_topnav .cart_nav_num {
  color: #999;
  width: 108px;
  margin: 0 79px 0 42px;
  text-align: center;
  float: left;
}

.cart_main .cart_topnav .cart_nav_count {

  color: #999;
  width: 110px;
  text-align: center;
  float: left;
}

.cart_main .cart_topnav .cart_nav_option {
  color: #999;
}

.cart_main .prod_list {
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 14px;
  margin-top: 2px;
  margin-bottom: 80px;
}

.cart_main .prod_list li {
  width: 100%;
  height: 117px;
  overflow: hidden;
  border-top: 1px solid #f2f2f2;
}

.cart_main .prod_list li .check {
  float: left;
}

.cart_main .prod_list li .check input {
  margin: 48px 20px 0;
  height: 20px;
  width: 20px;
  vertical-align: -2px;
}

.cart_main .prod_list li .check i {

  // position: relative;
  // top: 50px;
  // display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: block;
  margin: 50px 20px 0;
  background: url(../img/shopcart_img/cart.png)no-repeat -54px -36px;
}


.cart_main .prod_list li .cnt {
  float: left;
  width: 1036px;
}

.cart_main .prod_list li .cnt .coverwrap {
  float: left;
  width: 100px;
  padding-top: 20px;
}

.cart_main .prod_list li .cnt .coverwrap img {
  width: 80px;
  height: 80px;
  background-color: #f5f5f5;
}

.cart_main .prod_list li .cnt .msg {
  float: left;
  margin: 38px 66px 0 0;
  width: 350px;
  font-size: 14px;
}

.cart_main .prod_list li .cnt .msg a p {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 340px;
  white-space: nowrap;
  color: #333;
}

.cart_main .prod_list li .cnt .msg a p:hover {
  text-decoration: underline;
}

.cart_main .prod_list li .cnt .msg span {
  color: #999;
  display: inline-block;
  margin-top: 8px;
}

.cart_main .prod_list li .cnt .price {
  float: left;
  width: 90px;
  height: 117px;
  line-height: 117px;
  text-align: center;
}

.cart_main .prod_list li .cnt .acount {
  float: left;
  width: 140px;
  height: 117px;
  line-height: 117px;
  text-align: center;
}

.cart_main .prod_list li .cnt .del {
  float: left;
  height: 10px;
  width: 10px;
  margin: 52px 0 0 0;
  background: url(../img/shopcart_img/cha.png);
  cursor: pointer;
}

.cart_main .prod_list li .cnt .ctrl {
  float: left;
  width: 131px;
  margin: 42px 49px 0 42px;
  height: 32px;
  text-align: center;
  border: 1px solid #e5e5e5;
  border-left: none;
}

.cart_main .prod_list li .cnt .price i {
  font-style: normal;

}

.cart_main .prod_list li .cnt .acount i {
  font-style: normal;
  color: #d33a31;
}

.cart_main .prod_list .first_line {
  width: 100%;
  height: 40px;
  overflow: hidden;
  line-height: 40px;
  background: url(../img/shopcart_img/bgg.png) repeat-x;
  margin-top: 0;
}

.first_line .first_all_prod {
  margin-left: 60px;
  float: left;
  width: 404px;
  color: #999;
  line-height: 40px;
}

.first_line .first_fr {
  float: right;
  margin-right: 32px;
}

.first_line .first_fr span:nth-child(1) {
  margin-right: 12px;
  // display: inline-block;
  float: left;
  // position: relative;
  margin-top: 9px;
  width: 44px;
  height: 20px;
  background: url(../img/shopcart_img/cart.png)no-repeat 0px -36px;
}

.first_line .first_fr span:nth-child(2) p {
  display: inline-block;
  color: #d33a31;
}

.cart_main .prod_list .last_line {
  width: 100%;
  height: 50px;
  border-top: 1px solid #f2f2f2;
  overflow: hidden;
  line-height: 50px;
}

.cart_main .prod_list .last_line .jiesuan {
  float: right;
  width: 160px;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  background-color: #d33a31;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

.cart_main .prod_list .last_line .del_checked_prod {
  float: right;
  width: 160px;
  height: 100%;
  line-height: 50px;
  margin-left: 30px;
  font-size: 16px;
  background-color: #F4F4F4;
  color: #d33a31;
  text-align: center;
  cursor: pointer;
  border-left: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
}

.cart_main .prod_list .last_line .all_price {
  float: right;
  color: #999;
}

.cart_main .prod_list .last_line .all_price span:nth-child(4) {
  color: #333;
}

.cart_main .prod_list .last_line .all_price span:last-child {
  color: #d33a31;
  font-size: 20px
}

.cart_main .prod_list .last_line .check_nums {
  display: inline-block;
}

.cart_main .prod_list .last_line .check_nums p {
  color: #999;
  line-height: 50px;
  font-size: 14px;
  display: inline-block;
}

.cart_main .prod_list .last_line .check_nums p span {
  color: #d33a31;
  line-height: 50px;
  font-size: 14px;
}


.cart_main .prod_list li .cnt .ctrl a {
  float: left;
  width: 34px;
  height: 30px;
  border-left: 1px solid #e5e5e5;
}

.cart_main .prod_list li .cnt .ctrl a:hover {
  background: #f7f7f7;
}

.cart_main .prod_list li .cnt .ctrl span {
  float: left;
  width: 59px;
  height: 30px;
  border-left: 1px solid #e5e5e5;
}

.cart_main .prod_list li .cnt .ctrl span input {
  outline: none;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  color: #333;
}

.cart_main .prod_list li .cnt .ctrl .minus {
  // position: relative;
  background: url(../img/object_img/icon.png)no-repeat -35px -533px;
  // left: 3px;
  // top: 1px;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}

.cart_main .prod_list li .cnt .ctrl .add {
  // position: relative;
  background: url(../img/object_img/icon.png)no-repeat 3px -533px;
  // left: 3px;
  // top: 1px;
  display: block;
  width: 100%;
  height: 100%;
}

.cart_main .empty {
  height: 150px;
  margin: 50px auto 0 auto;
  width: 320px;
  text-align: center;
}

.cart_main .empty .icon {
  display: block;
  width: 140px;
  height: 125px;
  margin: 0 auto 10px auto;
  padding-left: 14px;
  background: url(../img/shopcart_img/cart2.png)no-repeat 0px -0px;
}

.cart_main .empty span {
  margin-left: -10px;
  font-size: 18px;
}

.cart_main .empty span a {
  color: #328ad4;
}



.m2top {
  position: fixed;
  right: 128px;
  width: 62px;
  font-size: 12px;
  z-index: 98;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.4);
  text-align: center;
  margin-top: 150px;
}

.m2top .m-item {
  height: 60px;
  border: 1px solid transparent;
  border-bottom: 1px solid #e5e5e5;
}

// .m2top .m-item:nth-child(4) {
//   display: none;
// }

// .m2top .m-item:nth-child(4) span {
//   position: relative;
//   margin-top: 0;
//   color: #333;
// }

// .m2top .m-item:nth-child(4) span p {
//   display: inline-block;
//   position: absolute;
//   top: -34px;
//   left: 30px;
//   width: 18px;
//   height: 18px;
//   line-height: 18px;
//   color: #fff;
//   background: url(../img/shop_img/modules.png)no-repeat -156px -158px;
// }

// .m2top .m-item:nth-child(4) i {
//   display: block;
//   width: 20px;
//   height: 20px;
//   margin: 11px 0 5px 17px;
//   background: url(../img/shop_img/totop.png)no-repeat 0px -71px;
// }

.m2top .m-item:nth-child(4) span {
  margin-top: 0;
  color: #333;
}

.m2top .m-item:nth-child(4) i {
  display: block;
  width: 20px;
  height: 20px;
  margin: 11px 0 5px 19px;
  background: url(../img/shop_img/totop.png)no-repeat 0px -101px;

}

.m2top .m-item:nth-child(5) {
  display: none;
  height: 35px;
  background: url(../img/shop_img/totop.png)no-repeat -70px 0px;
}

.m2top .m-item span {
  display: block;
  margin-top: 13px;
  line-height: 1.5;
  color: #666666;
}